body {
  text-align: center;
}

.App {
  width: 90%;
  margin: 0 auto;
}
.component-container {
  display: inline-block;
  zoom: 1;
}
.test-container {
  text-align: left;
}
.test-container p {
  font-style: italic;
}
.test-container textarea {
  width: 100%;
  height: 300px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
/* Override DynamicTable styles by using their classnames*/
/*.TableRow-header {
  background-color: cornflowerblue;
  color: #fff;
}
*/
